$brand-red: #ff2a01;

/* Add some padding inside the card container */
// .container {
//   // padding: 10px;
//   // height: 60%;
// }
.card {
  transition: 0.5s;
  width: 95%;
  text-align: center;
  background-color: transparent;
  color: white;
  margin: 0px 0 -8% 0;
  // &:hover img {
  //   transform: rotate(100deg);
  // }
}
img {
  margin: 0px 10px -5% 10px;
  width: 88%;
  text-align: center;
  transition: all 5s;

  &:hover {
    transform: rotate(100deg);
  }
}
.pizza-name {
  font: larger 'Sansita Swashed', cursive;
  color: #fcc92a;
}
.pizza-space {
  display: block;
  margin: 7px 0;
  line-height: 10px;
  content: ' ';
}
.pizza-price {
  font: large 'Open Sans', sans-serif;
}

.pizza-button {
  transition: all 0.5s;
  &:hover {
    transition: all 0.5s;
    color: #e41d25;
  }
}

.pizzaItem-container button {
  color: white;
  transition: all 0.5s;
  margin: -29% 10% 0% 10%;
}
