.pizzaList-container {
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: space-evenly;
  // grid-gap: 32px;
  padding-top: 3%;
  padding-bottom: 1%;
}

ul,
li {
  list-style: none;
}
